/*general styles*/
.img-responsive{
  margin:0 auto;
  height:auto!important;
}

body {
        background-color: #FEDF8E;
}

/*paw prints*/


/*Google Maps*/

.maps {
        height: 400px;
        width: 100%;
       }

       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
